extends layout

block content
  h1= title

  div(class="container-fluid")
        div(class="row")
            -
                let results  = [
                    {
                        "age": "2",
                        "color": "white",
                        "weight": "5.5 lbs"
                    },
                    {
                        "age": "1",
                        "color": "brown",
                        "weight": "3.2 lbs"
                    },
                    {
                        "age": "3",
                        "color": "black",
                        "weight": "4.5 lbs"
                    },                   
                ]
            each v,JScode in results
                div(class="col-sm-2" onclick=`buy(${JScode})`) #{v.age}
                div(class="col-sm-2" onclick=`buy(${JScode})`) #{v.color}
                div(class="col-sm-2" onclick=`buy(${JScode})`) #{v.weight}
  script.
    function buy(itemNo)
    {
        alert(`you purchased Item ${itemNo+1}`)
    }